<!DOCTYPE html>
<html lang="en">
    <%- include('partials/head',{title: "Artesphera | Login" }) %>

    <body>
        <%- include('partials/header') %>
        <main class="login">
            <section class="mainContent">
                <article class="firstArticle">
                    <div class="loginTop">
                        <h1>Iniciar Sesión</h1>
                        <p>¡Ey! Ingresa tus datos para iniciar sesión.</p>
                    </div>
                    <form action="" method="POST" class="form" id="formAdd">
                        <input
                            type="email"
                            id="email"
                            name="email"
                            placeholder="Correo electrónico"
                            class="form-control <%= locals.errors && (locals.errors.email && 'is-invalid') %>"
                        />
                        <small class="text-sm text-danger" id="msgError-email">
                            <%= locals.errors && (errors.email &&
                            errors.email.msg) %>
                        </small>
                        <input
                            type="password"
                            id="password"
                            name="password"
                            placeholder="Contraseña"
                            class="form-control <%= locals.errors && (locals.errors.password && 'is-invalid') %>"
                        />
                        <small
                            class="text-sm text-danger"
                            id="msgError-password"
                        >
                            <%= locals.errors && (errors.password &&
                            errors.password.msg) %>
                        </small>
                        <div class="formOptions">
                            <label for="rememberMe" class="formRemember">
                                <input
                                    type="checkbox"
                                    id="rememberMe"
                                    name="rememberMe"
                                />
                                Recuérdame
                            </label>
                            <a href="#">¿Olvidaste la Contraseña?</a>
                        </div>
                        <div>
                            <small class="text-danger" id="msgError-empty">
                            </small>
                        </div>
                        <button type="submit">Iniciar Sesión</button>
                    </form>
                    <p>O inicia sesión con:</p>
                    <div class="loginLinks">
                        <a href="#" class="loginGoogle">
                            <i class="fa-brands fa-google"></i>
                            <p>Google</p>
                        </a>
                        <a href="#" class="loginApple">
                            <i class="fa-brands fa-apple"></i>
                            <p>Apple ID</p>
                        </a>
                        <a href="#" class="loginFacebook">
                            <i class="fa-brands fa-facebook"></i>
                            <p>Facebook</p>
                        </a>
                    </div>
                    <div class="loginNoAcc">
                        <p>¿No tienes una cuenta?</p>
                        <a href="/users/register">Solicítala ahora</a>
                    </div>
                </article>
            </section>
        </main>
        <%- include('partials/footer') %>
    	<script src="/javascripts/login.js"></script>
    </body>
</html>
