<!DOCTYPE html>
<html lang="en">
<%- include('partials/head',{ title : "Artesphera | Edición producto" }) %>
	<link rel="stylesheet" href="/dist/output.css" />

	<body>
		<%- include('partials/header') %>
		<main class="min-h-screen flex flex-col">
				<section
					class="flex-1 flex flex-col items-center justify-center gap-60 bg-[url('/images/loginWallpaper.png')] bg-auto bg-repeat sm:gap-0 lg:bg-center">
					<article class="flex flex-col w-full bg-white sm:max-w-6xl p-8 text-base">
						<div class="grid grid-cols-1 lg:grid-cols-2 lg:min-h-[77.5vh] min-h-screen gap-12">
							<form action="/products/update/<%= product.id %>?_method=PUT" method="POST"
								class="flex flex-col justify-center gap-12" enctype="multipart/form-data">
								<p class="text-3xl font-bold">Editar producto</p>
								<div>
									<div class="flex flex-col">
										<label for="title" class="font-medium">Título</label>
										<input type="text" id="title" name="title" required
											class="p-3 bg-gray-100 text-sm" placeholder="Título del producto "
											value="<%= product.title %>" />
										<small class="text-danger">
											<%= locals.errors && (errors.title && errors.title.msg) %>
										</small>
									</div>
									<div class="flex flex-col">
										<label for="category" class="font-medium">Categoría</label>
										<select name="category" id="category" class="p-3 text-sm bg-gray-100" required>
											<option value="" disabled>Elige una opción</option>
											<% categories.forEach(item=> { %> <option <%=item.name===product.category
													&& "selected" %> value="<%= item.name %>"><%= item.name %>
												</option>
												<% }) %>
										</select>
									</div>
									<div class="flex flex-col">
										<label for="section" class="font-medium">Sección</label>
										<select name="section" id="section" class="p-3 text-sm bg-gray-100" required>
											<option value="" disabled>Elige una opción</option>
											<% sections.forEach(item=> { %> <option <%=item.name===product.section
													&& "selected" %> value="<%= item.name %>"><%= item.name %>
												</option>
												<% }) %>
										</select>
									</div>
									<div class="flex flex-col">
										<label for="price" class="font-medium">Precio</label>
										<input type="number" id="price" name="price" class="p-3 bg-gray-100 text-sm"
											placeholder="Ejemplo: 99.99" value="<%= product.price %>" />
										<small class="text-danger">
											<%= locals.errors && (errors.price && errors.price.msg) %>
										</small>
									</div>
									<div class="flex flex-col">
										<label for="discount" class="font-medium">Descuento</label>
										<input type="number" id="discount" name="discount"
											class="p-3 bg-gray-100 text-sm" placeholder="Descuento en porcentaje"
											value="<%= product.discount %>" />
										<small class="text-danger">
											<%= locals.errors && (errors.discount && errors.discount.msg) %>
										</small>
									</div>
									<div class="flex flex-col">
										<label for="stock" class="font-medium">Stock</label>
										<input type="number" id="stock" name="stock" required
											class="p-3 bg-gray-100 text-sm" placeholder="Cantidad disponible"
											value="<%= product.stock %>" />
										<small class="text-danger">
											<%= locals.errors && (errors.stock && errors.stock.msg) %>
										</small>
									</div>
									<div class="flex flex-col mt-2">
										<label for="images" class="font-medium">Editar multimedia:</label>
										<div class="mb-2">
											<input type="file" id="images" name="images" accept="image/*" />
										</div>
									</div>
									<div class="mt-2 flex flex-wrap gap-2 py-2">
										<% for (let i=0; i < product.images.length; i++) { %>
											<div>
												<img src="/images/productos/<%= product.images[i] %>" alt=""
													class="w-24 h-24 object-cover" />
											</div>
											<% } %>
									</div>
								</div>
								<div class="flex flex-col">
									<label for="description">Descripción:</label>
									<textarea id="description" name="description" rows="4" cols="50" required
										class="bg-gray-100 p-2 text-left">
										<%= product.description %></textarea>
									<small class="text-danger">
										<%= locals.errors && (errors.description && errors.description.msg) %>
									</small>
								</div>
								<button type="submit"
									class="font-bold py-4 text-[#5e4a2d] bg-[#d0ad7a] hover:bg-[#3d3220] hover:text-[#967c57] transition-all ease-in-out rounded-full">
									Guardar Cambios
								</button>
							</form>
							<%- include('partials/table') %>
						</div>
					</article>
				</section>
		</main>
	</body>

</html>