<!DOCTYPE html>
<html lang="en">
	<%- include('partials/head',{title: "Artesphera | Detalle de producto"}) %>
	<body class="index">
		<%- include('partials/header') %>
		<main class="mainContainer">
			<div class="mainFlexImg">
				<div class="img-detail">
					<img src="/images/productos/<%= product.images %>" alt="" />
				</div>
				<div class="mainAutor">
					<h1><%= product.title %></h1>
					<p><%= product.description %></p>

					<% if (product.discount > 0) { %>
					<div>
						<span class="precio">$<%= product.price %></span>
						<span class="precio--descuento"
							>$<%= (product.price - (product.price * (product.discount /
							100))).toLocaleString('es-AR', { minimumFractionDigits: 2,
							maximumFractionDigits: 2 }) %></span
						>
						<span> -<%= product.discount %> off </span>
					</div>
					<% } else { %>
					<span class="precio--descuento">$<%= product.price %></span>
					<% } %>
					<p>Gastos de envio e impuestos incluidos</p>
					<button>Añadir al carrito</button>
					<div class="mainSobre">
						<div>
							<i class="fa-regular fa-gem"></i>
							<p>Todo incluido en el precio</p>
						</div>
						<div>
							<i class="fa-solid fa-truck"></i>
							<p>Entrega profesional entre 7 y 10 dias</p>
						</div>
						<div>
							<i class="fa-solid fa-dolly"></i>
							<p>Devoluciones gratuitas 14 dias despues de entrega</p>
						</div>
						<div>
							<i class="fa-solid fa-check-double"></i>
							<p>Obra original con certificado de autenticidad</p>
						</div>
					</div>
				</div>
			</div>
			<!-- <div class="mainCreacion">
				<div class="mainSobreCreacion">
					<h3>Sobre la creacion</h3>
					<p>
						¡Homenaje a un gran artista que murió muy joven! Basquiat alcanzó el
						éxito durante la década de 1980 como parte del Movimiento
						Neoexpresionista. También colaboró con Andy Warhol y se convirtió en
						el artista más joven en participar en la exhibición de arte
						contemporáneo de la Bienal de Whitney. Vendió su primera pintura,
						Cadillac Moon a Debbie Harry por 200 $ en 1981 y los precios
						actuales de una pintura de Basquiat superan los 20 millones de
						dólares.
					</p>
				</div>
				<div class="mainDetalleEspecificacion">
					<h3>Detalle de especificacion</h3>
					<div class="mainOtrosDetalles">
						<p>Tecnica</p>
						<p>Acrilico, Oleo en Lienzo</p>
					</div>
					<div class="mainOtrosDetalles">
						<p>Otros detalles</p>
						<p>
							Obra estirada sobre bastidor. Lista para colgar. Enmarcacion bajo
							pedido
						</p>
					</div>
					<div class="mainOtrosDetalles">
						<p>Dimensiones</p>
						<p>120x140cm</p>
					</div>
				</div>
			</div> -->
			<div class="mainEnvios">
				<div class="mainDetalleEnvios">
					<img class="imgEnvio" src="/images/carro.png" alt="" />
					<h4>ENVÍO & DEVOLUCIONES</h4>
					<p>
						Entrega internacional profesional, supervisada por nuestros expertos
						en logística Los gastos de envío, impuestos y tributos están
						incluidos en el precio Devoluciones gratuitas durante 14 días
						(excepto en el caso de los artículos hechos por encargo)
					</p>
				</div>
				<div class="mainDetalleEnvios">
					<img class="imgEnvio" src="/images/garantia.png" alt="" />
					<h4>GARANTÍA</h4>
					<p>
						Artesphera garantiza fiabilidad y trazabilidad. Todos los artistas
						de la plataforma han sido especialmente seleccionados y certifican
						que solo venden obras de las que son creadores. Cual sea el soporte,
						la obra se envía al comprador con certificado de autenticidad. Las
						fotografías están numeradas y firmadas. Cada cliente puede recibir
						una copia de su certificado de autenticidad poniéndose en contacto
						con (email)
					</p>
				</div>
				<div class="mainDetalleEnvios">
					<img class="imgEnvio" src="/images/pago.png" alt="" />
					<h4>PAGO</h4>
					<p>
						Con ARTESPHERA puede pagar de forma segura con tarjeta de crédito o
						transferencia bancaria. Para todas las transacciones que excedan su
						límite de crédito, contáctenos. Estamos obligados a verificar cada
						transferencia, como parte de la lucha contra el fraude y el lavado
						de dinero.
					</p>
				</div>
				<div class="mainDetalleEnvios">
					<img class="imgEnvio" src="/images/precio.png" alt="" />
					<h4>PRECIO</h4>
					<p>
						Los precios de ARTESPHERA incluyen lo siguiente: El precio de la
						obra, según lo haya determinado el artista. El seguro. Su pedido
						estará asegurado al 100 % en caso de daño o robo. La gestión total
						de las tasas de aduanas, los impuestos y la documentación. Los
						gastos de envío del proveedor logístico, que es una empresa de
						terceros. La asignación de un experto en atención al cliente de
						ARTESPHERA, que le ayudará en caso de que tenga alguna duda o
						problema durante el envío.
					</p>
				</div>
			</div>
		</main>
		<section class="index-producto">
			<h2 class="index-producto__categoria">Ultimas unidades</h2>
			<div class="producto-container">
				<i class="fa-solid fa-chevron-left ant-boton"></i>
				<i class="fa-solid fa-chevron-right sig-boton"></i>
				<% lastunits.forEach(product => { %>
				<div class="producto-card">
					<div class="producto-imagen">
						<% if (product.discount > 0) { %>
						<span class="producto-card__descuento">
							-<%= product.discount %> off
						</span>
						<% } %>
						<img
							class="producto-card__img"
							src="/images/productos/<%= product.images %>"
							alt="producto"
						/>
						<a
							href="/products/detail/<%= product.id %>"
							class="producto-card__boton"
							>Ver más</a
						>
					</div>
					<div class="producto-info">
						<h2 class="producto-info__titulo"><%= product.title %></h2>
						<p class="producto-info__descripcion"><%= product.category %></p>
						<% if (product.discount > 0) { %>
						<span class="precio--descuento">$<%= product.discount %></span>
						<span class="precio">$<%= product.price %></span>

						<% } else { %>
						<span class="precio--descuento">$<%= product.price %></span>
						<% } %>
						<p>
							Quedan <span class="stock"><%= product.stock %></span> en stock
						</p>
					</div>
				</div>
				<% }) %>
			</div>
		</section>
		<%- include('partials/footer') %>
	</body>
</html>
