<!DOCTYPE html>
<html lang="en">
<%- include('partials/head',{title: "Products | Artesphera" }) %>
	<link rel="stylesheet" href="/dist/output.css" />
	<link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">

	<body>
		<%- include("partials/header") %>
			<!-- <%- include('partials/subHeader') %> -->
			<main class="flex flex-col bg-white">
				<article class="flex gap-12 px-6 sm:px-12 py-12">
					<div
						class="flex-col items-start gap-8 grow max-w-[12rem] hidden lg:flex sticky h-full top-[13rem] z-0">
						<!-- <div class="flex flex-col gap-4">
						<h3 class="font-medium text-2xl tracking-[0.15em]">CATEGORIA</h3>
						<% categories.forEach(category => { %>
						<div class="flex gap-3 flex-col">
							<a href="/products/category/<%= category.name %>"
								><%= category.name %></a
							>
						</div>
						<% }) %>
					</div>
					<div class="flex flex-col gap-4">
						<h3 class="font-medium text-2xl tracking-[0.15em]">PRECIO</h3>
						<div class="flex gap-3 flex-col">
							<p>Más de 1000</p>
							<p>Menos de 100</p>
							<p>$100 - $500</p>
							<p>$500 - $1000</p>
						</div>
					</div> -->
						<!-- <a
						href="/products"
						class="py-2 px-12 text-center border-2 border-gray-400 font-medium text-xl"
					>
						Resetear
					</a> -->
					</div>
					<div class="flex flex-col gap-32 grow pb-6">
						<div class="flex flex-col gap-12">
							<div class="items-center gap-3 grid grid-col-1 md:grid-cols-2 lg:grid-cols-3">
								<%- include('partials/productCard') %>
							</div>
						</div>
						<!-- <div class="flex items-center border-gray-300 self-center">
						<p class="border-b-2 border-black px-12 py-2">1</p>
						<p class="border-b-2 px-12 py-2">2</p>
						<p class="border-b-2 px-12 py-2">3</p>
					</div> -->
					</div>
				</article>
				<div class="paginator">

					<nav aria-label="Page navigation example">
						<ul class="flex items-center -space-x-px h-10 text-base">
						  <% if (paginate.hasPreviousPages || paginate.hasNextPages(pagesCount)) { %>
							<% if (paginate.hasPreviousPages) { %>
							  <li>
								<a href="<%= paginate.href(true).prev %>"
								  class="flex items-center justify-center px-4 h-10 ms-0 leading-tight text-gray-500 bg-white border border-e-0 border-gray-300 rounded-s-lg hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">
								  <span aria-hidden="true">&laquo;</span>
								</a>
							  </li>
							<% } %>
					  
							<% if (pages) { %>
							  <% pages.forEach(page => { %>
								<li>
								  <a href="<%= page.url %>"
									class="flex items-center justify-center px-4 h-10 leading-tight <%= page.number === currentPage ? 'text-blue-600 border border-blue-300 bg-blue-50 hover:bg-blue-100 hover:text-blue-700 dark:border-gray-700 dark:bg-gray-700 dark:text-white' : 'text-gray-500 bg-white border border-gray-300 hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white' %>">
									<%= page.number %>
								  </a>
								</li>
							  <% }) %>
							<% } %>
					  
							<!-- <% if (paginate.hasNextPages(pagesCount)) { %>
							  <li>
								<a href="<%= paginate.href().next %>"
								  class="flex items-center justify-center px-4 h-10 leading-tight text-gray-500 bg-white border border-gray-300 rounded-e-lg hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">
								  <span aria-hidden="true">&raquo;</span>
								</a>
							  </li>
							<% } %> -->
						  <% } %>
						</ul>
					  </nav>					  
				</div>
			</main>
			<%- include('partials/footer') %>
			<script src="/javascripts/search.js"></script>
	</body>

</html>