<!DOCTYPE html>
<html lang="en">
<%- include('partials/head',{title: "Artesphera | Agregar producto" }) %>
	<link rel="stylesheet" href="/dist/output.css" />

	<body>
		<main class="min-h-screen flex flex-col">
			<%- include('partials/header') %>
				<section
					class="flex-1 flex flex-col items-center justify-center gap-60 bg-[url('/images/loginWallpaper.png')] bg-auto bg-repeat sm:gap-0 lg:bg-center">
					<article class="flex flex-col w-full bg-white sm:max-w-6xl p-8 text-base">
						<div class="grid grid-cols-1 lg:grid-cols-2 lg:min-h-[77.5vh] min-h-screen gap-12">
							<form action="/products/add" method="POST" class="flex flex-col justify-center gap-12"
								enctype="multipart/form-data">
								<p class="text-3xl font-bold">Agregar producto</p>
								<div>
									<div class="flex flex-col">
										<label for="title" class="font-medium">Título</label>
										<input type="text" id="title" name="title"
											class="p-3 bg-gray-100 text-sm <%= locals.errors && (errors.title && 'is-invalid') %>"
											placeholder="Título del producto "
											value="<%= locals.old && (old.title && old.title ) %>" />
										<small class="text-danger">
											<%= locals.errors && (errors.title && errors.title.msg) %>
										</small>
									</div>
									<div class="flex flex-col">
										<label for="category" class="font-medium">Categoría</label>
										<select name="category" id="category" class="p-3 text-sm bg-gray-100">
											<option value="" disabled selected>Elige una opción</option>
											<% categories.forEach(category=> { %>
												<option value="<%= category.name %>" <%=locals.old &&
													(locals.old.category===category.name && 'selected' ) %>>
													<%= category.name %>
												</option>
												<% }) %>
										</select>
										<small class="text-danger">
											<%= locals.errors && (errors.category && errors.category.msg) %>
										</small>
									</div>
									<div class="flex flex-col">
										<label for="section" class="font-medium">Sección</label>
										<select name="section" id="section" class="p-3 text-sm bg-gray-100">
											<option value="" disabled selected>Elige una opción</option>
											<% sections.forEach(section=> { %>
												<option value="<%= section.name %>" <%=locals.old &&
													(locals.old.section===section.name && 'selected' ) %>>
													<%= section.name %>
												</option>
												<% }) %>
										</select>
										<small class="text-danger">
											<%= locals.errors && (errors.section && errors.section.msg) %>
										</small>
									</div>
									<div class="flex flex-col">
										<label for="price" class="font-medium">Precio</label>
										<input type="number" id="price" name="price" class="p-3 bg-gray-100 text-sm"
											placeholder="Ejemplo: 99.99"
											value="<%= locals.old && (old.price && old.price ) %>" />
										<small class="text-danger">
											<%= locals.errors && (errors.price && errors.price.msg) %>
										</small>
									</div>
									<div class="flex flex-col">
										<label for="discount" class="font-medium">Descuento</label>
										<input type="number" id="discount" name="discount"
											class="p-3 bg-gray-100 text-sm" placeholder="Descuento en porcentaje" />
									</div>
									<div class="flex flex-col">
										<label for="stock" class="font-medium">Stock</label>
										<input type="number" id="stock" name="stock" class="p-3 bg-gray-100 text-sm"
											placeholder="Cantidad disponible"
											value="<%= locals.old && (old.stock && old.stock ) %>" />
										<small class="text-danger">
											<%= locals.errors && (errors.stock && errors.stock.msg) %>
										</small>
									</div>
									<div id="multiple_images" class="flex flex-col">
										<label for="images" class="font-medium">Carga una o mas imagenes:</label>
										<input type="file" id="images" name="images" accept="image/*" multiple />
									</div>
									<div class="flex flex-col">
										<label for="description">Descripción:</label>
										<textarea id="description" name="description" rows="4" cols="50"
											class="bg-gray-100 p-2"><%= locals.old && (old.description && old.description ) %></textarea>
										<small class="text-danger">
											<%= locals.errors && (errors.description && errors.description.msg) %>
										</small>
									</div>
								</div>
								<button type="submit"
									class="font-bold py-4 text-[#5e4a2d] bg-[#d0ad7a] hover:bg-[#3d3220] hover:text-[#967c57] transition-all ease-in-out rounded-full">
									Guardar Cambios
								</button>
							</form>
							<%- include('partials/table') %>
						</div>
					</article>
				</section>
		</main>
	</body>

</html>