<!DOCTYPE html>
<html lang="es">
<%- include('partials/head',{ title: "Tu Perfil" }) %>

	<body>
		<%- include('partials/header') %>
			<main class="profile">
				<h1 class="profile__title">Mis datos</h1>
				<h2 class="profile__title">Actualiza tu información</h2>

				<div class="profile-form">
					<form action="/users/update/<%= user.id %>?_method=PUT" class="profile-form__form" method="POST"
						enctype="multipart/form-data">
						<!-- <div>
							<div class="profile-picture" id="profile-picture">
								<img class="profile-picture__img" src="/images/users/<%= avatar || '2-user.png'%>"
									alt="avatar">
								<div class="profile-picture__button">
									<button type="button" id="avatarBtn" class="btn btn-dark">
										<i class="fas fa-camera"></i> Cambiar foto
									</button>
								</div>
							</div>
						</div> -->
						<div class="profile-form__div">
							<label class="profile-form__title" for="name">Nombre</label>
							<input class="profile-form__input" type="text" id="name" name="name"
								placeholder="Ingrese su nombre" value="<%= user.name %>" />
							<small class="text-danger" id="msgError-name">
								<%= locals.errors && (errors.name && errors.name.msg) %>
							</small>
							<% if (locals.errors && errors.name) { %>
								<p class="text-sm text-danger" id="msgError-name">
									<%= errors.name.msg %>
								</p>
								<% } %>
						</div>
						<div class="profile-form__div">
							<label class="profile-form__title" for="surname">Apellido</label>
							<input class="profile-form__input" type="text" id="surname" name="surname"
								placeholder="Ingrese su apellido" value="<%= user.surname %>" />
							<small class="text-danger" id="msgError-surname">
								<%= locals.errors && (errors.name && errors.name.msg) %>
							</small>
							<% if (locals.errors && errors.surname) { %>
								<p class="text-sm text-danger">
									<%= errors.surname.msg %>
								</p>
								<% } %>
						</div>
						<div class="profile">
							<h2 class="profile__title">Información de Envío</h2>
						</div>
						<div class="profile-form__div">
							<label for="province" class="profile-form__title">Provincia</label>
							<select type="text" class="form-select__address" id="province" name="province">
								<option value="" hidden>Seleccione...</option>
								<% provinces.forEach(province => { %>
									<option value="<%= province %>" <%= user.address && user.address.province === province ? 'selected' : '' %>>
										<%= province %>
									</option>
								<% }); %>
							</select>
						</div>
						<div class="profile-form__div">
							<label for="city" class="profile-form__title">Ciudad</label>
							<select type="text" class="form-select__address" id="city" name="city">
								<option value="" hidden>Seleccione...</option>
								<% cities.forEach(city => { %>
									<option value="<%= city %>" <%= user.address && user.address.city === city ? 'selected' : '' %>>
										<%= city %>
									</option>
								<% }); %>
							</select>
						</div>
						<div class="profile-form__div">
							<label class="profile-form__title" for="address">Dirección</label>
							<input class="profile-form__input" type="text" id="address" name="address"
								placeholder="Ingrese su dirección"
								value="<%= user.address ? user.address.address : '' %>" />
							<small class="text-danger" id="msgError-address">
								<%= locals.errors && errors.address ? errors.address.msg : '' %>
							</small>
						</div>
						<div>
							<div class="d-flex justify-content-start">
								<input class="form-control" type="file" id="avatar" name="avatar" hidden>
								<label for="avatar" id="avatarLabel" class="btn btn-dark" hidden></label>
							</div>
						</div>
						<div>
							<small class="text-danger" id="msgError-empty">
							</small>
						</div>
						<div class="profile-form__div">
							<label for="profile-form__button" class="profile-form__button">
								<input type="submit" id="profile-form__button" class="profile-form__actualizar" />
								<span>Actualizar</span>
							</label>
						</div>
					</form>
				</div>

				<h2 class="profile__title">Cambiar contraseña</h2>
				<div class="profile-form">
					<form action="/users/update-password/<%= user.id %>?_method=PUT" class="profile-form__form"
						method="POST" id="formAdd2">
						<div class="profile-form__div">
							<label class="profile-form__title" for="password">Contraseña</label>
							<input
								class="profile-form__input form-control <%= locals.errors && (locals.errors.password && 'is-invalid') %>"
								type="password" id="password" name="password" placeholder="Ingrese contraseña" />
							<small class="text-sm text-danger" id="msgError-password">
								<%= locals.errors && (errors.password && errors.password.msg) %>
							</small>
						</div>
						<div class="profile-form__div">
							<label class="profile-form__title" for="password2">Confirmar contraseña</label>
							<input
								class="profile-form__input form-control <%= locals.errors && (locals.errors.password && 'is-invalid') %>"
								type="password" id="password2" name="password2" placeholder="Repita su contraseña" />
							<small class="text-sm text-danger" id="msgError-password2">
								<%= locals.errors && (errors.password2 && errors.password2.msg) %>
							</small>
						</div>
						<div>
							<small class="text-danger" id="msgError-empty2">
							</small>
						</div>
						<div class="profile-form__div">
							<label for="profile-form__button-password" class="profile-form__button">
								<input type="submit" id="profile-form__button-password"
									class="profile-form__actualizar" />
								<span>Actualizar</span>
							</label>
						</div>
					</form>
				</div>

				<h2 class="profile__title">Eliminar cuenta</h2>
				<div class="profile-form">
					<form action="/users/delete/<%= user.id %>?_method=DELETE" class="profile-form__form" method="POST">
						<div>
							<h3>
								Al hacer click su cuenta se eliminara de forma definitiva, una vez
								hecho esto no hay manera de recuperarla.
							</h3>
						</div>
						<div class="profile-form__div">
							<!-- Button trigger modal -->
							<button type="button" class="profile-form__button btn btn-primary" data-bs-toggle="modal"
								data-bs-target="#staticBackdrop">
								Eliminar cuenta
							</button>
						</div>

						<!-- Modal -->
						<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false"
							tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
							<div class="modal-dialog">
								<div class="modal-content">
									<div class="modal-header">
										<h2 class="modal-title" id="staticBackdropLabel">
											Eliminar cuenta
										</h2>
									</div>
									<div class="modal-body">
										<p>Esta a punto de eliminar su cuenta. ¿Desea continuar?</p>
									</div>
									<div class="modal-footer">
										<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
											Cancelar
										</button>
										<button type="submit" class="btn btn-primary modal-footer__btn-delete">
											Eliminar
										</button>
									</div>
								</div>
							</div>
						</div>
					</form>
				</div>
			</main>
			<%- include('partials/footer') %>
				<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
					integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
					crossorigin="anonymous"></script>
				<script src="/javascripts/profile.js"></script>
	</body>

</html>