<% products.forEach(product => { %>
<div class="flex flex-col items-center gap-3">
	<a href="/products/detail/<%= product.id %>"
		><img
			src="/images/productos/<%= product.images %>"
			alt=""
			class="w-96 h-[28rem] object-cover"
	/></a>
	<div class="text-center">
		<p class="text-sm"><%= product.description %></p>
		<p class="font-bold text-xl italic"><%= product.title %></p>
		<p>$<%= product.price %></p>
	</div>
</div>
<% }) %>
