<div class="overflow-y-auto border-l border-black text-gray-800 pl-5">
    <table class="table-auto w-full">
        <thead>
            <tr class="border-b border-black">
                <th class="py-3">#</th>
                <th class="py-3">Producto</th>
                <th class="py-3">Categoría</th>
                <th class="py-3">Precio</th>
                <th class="py-3">Desc.</th>
                <th class="py-3">P. Final</th>
                <th class="py-3">Acciones</th>
            </tr>
        </thead>
        <tbody class="text-[16.5px]">
            <% products.forEach((product, index)=> { %>
                <tr class="border-b border-gray-400">
                    <td class="font-bold px-3">
                        <%= index + 1%>
                    </td>
                    <td class="p-1">
                        <%= product.title %>
                    </td>
                    <td class="p-1">
                        <%= product.category.name %>
                    </td>
                    <td class="p-1">
                        <%= product.price %>
                    </td>
                    <td class="p-1">
                        <%= product.discount%>%
                    </td>
                    <td class="p-1">
                        <%= priceFinal(product.price ,product.discount)%>
                    </td>
                    <td class="p-1">
                        <div class="flex gap-2 items-center">
                            <a href="/products/detail/<%= product.id %>" class="fa-regular fa-eye text-gray-700"></a>
                            <a href="/products/edit/<%= product.id %>"
                                class="fa-regular fa-pen-to-square text-gray-700"></a>
                            <form id="deleteForm<%= product.id %>">
                                <button type="button" class="fa-regular fa-trash-can text-gray-700"
                                    onclick="showDeleteConfirmation('<%= product.title %>', '<%= product.id %>')"></button>
                            </form>
                        </div>
                    </td>
                    <% }) %>
                </tr>
            </tbody>
    </table>
    <div class="paginator">
        <nav aria-label="Page navigation example">
            <ul class="flex items-center -space-x-px h-10 text-base">
              <% if (paginate.hasPreviousPages || paginate.hasNextPages(pagesCount)) { %>
                <% if (paginate.hasPreviousPages) { %>
                  <li>
                    <a href="<%= paginate.href(true).prev %>"
                      class="flex items-center justify-center px-4 h-10 ms-0 leading-tight text-gray-500 bg-white border border-e-0 border-gray-300 rounded-s-lg hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">
                      <span aria-hidden="true">&laquo;</span>
                    </a>
                  </li>
                <% } %>
          
                <% if (pages) { %>
                  <% pages.forEach(page => { %>
                    <li>
                      <a href="<%= page.url %>"
                        class="flex items-center justify-center px-4 h-10 leading-tight <%= page.number === currentPage ? 'text-blue-600 border border-blue-300 bg-blue-50 hover:bg-blue-100 hover:text-blue-700 dark:border-gray-700 dark:bg-gray-700 dark:text-white' : 'text-gray-500 bg-white border border-gray-300 hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white' %>">
                        <%= page.number %>
                      </a>
                    </li>
                  <% }) %>
                <% } %>
          
                <!-- <% if (paginate.hasNextPages(pagesCount)) { %>
                  <li>
                    <a href="<%= paginate.href().next %>"
                      class="flex items-center justify-center px-4 h-10 leading-tight text-gray-500 bg-white border border-gray-300 rounded-e-lg hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">
                      <span aria-hidden="true">&raquo;</span>
                    </a>
                  </li>
                <% } %> -->
              <% } %>
            </ul>
          </nav>					  
    </div>

    <script>
        function showDeleteConfirmation(productTitle, productId) {
            const swalWithBootstrapButtons = Swal.mixin({
                customClass: {
                    confirmButton: "btn btn-success",
                    cancelButton: "btn btn-danger"
                },
                buttonsStyling: false
            });

            swalWithBootstrapButtons.fire({
                title: "¿Estás seguro?",
                text: `¿Estás seguro de que deseas eliminar el producto "${productTitle}"?`,
                icon: "warning",
                showCancelButton: true,
                confirmButtonText: "Sí, eliminarlo",
                cancelButtonText: "No, cancelar",
                reverseButtons: true
            }).then((result) => {
                if (result.isConfirmed) {
                    fetch(`/products/delete/${productId}?_method=DELETE`, {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json',
                        },
                    })
                        .then(response => response.json())
                        .then(data => {
                            if (data.success) {
                                swalWithBootstrapButtons.fire({
                                    title: "¡Eliminado!",
                                    text: `El producto "${productTitle}" ha sido eliminado.`,
                                    icon: "success"
                                }).then(() => {
                                    window.location.reload(true);
                                });
                            } else {
                                swalWithBootstrapButtons.fire({
                                    title: "Error",
                                    text: "Error al eliminar el producto.",
                                    icon: "error"
                                });
                            }
                        })
                        .catch(error => {
                            console.error(error);
                            swalWithBootstrapButtons.fire({
                                title: "Error",
                                text: "Error al comunicarse con el servidor.",
                                icon: "error"
                            });
                        });
                } else if (result.dismiss === Swal.DismissReason.cancel) {
                    swalWithBootstrapButtons.fire({
                        title: "Cancelado",
                        text: `El producto "${productTitle}" está a salvo 🎄✨`,
                        icon: "error"
                    });
                }
            });
        }
    </script>
</div>