<div class="overflow-y-auto border-l border-black text-gray-800 pl-5">
	<table class="table-auto w-full">
		<thead>
			<tr class="border-b border-black">
				<th class="py-3">#</th>
				<th class="py-3">Producto</th>
				<th class="py-3">Categoria</th>
				<th class="py-3">Precio</th>
				<th class="py-3">Descuento</th>
				<th class="py-3">P. Final</th>
				<th class="py-3">Acciones</th>
			</tr>
		</thead>
		<tbody class="text-[16.5px]">
			<% products.forEach((product, index) => { %>
			<tr class="border-b border-gray-400">
				<td class="font-bold px-3"><%= index + 1%> </td>
					<td class="p-1"><%= product.title %></td>
					<td class="p-1"><%= product.category %></td>
					<td class="p-1"><%= product.price %></td>
					<td class="p-1"><%= product.discount%>%</td>
					<td class="p-1"><%= priceFinal(product.price ,product.discount)%></td>
					<td class="p-1">
						<div class="flex gap-2">
							<a href="#" class="fa-regular fa-eye text-gray-700"></a>
							<a href="#" class="fa-regular fa-pen-to-square text-gray-700"></a>
							<a href="#" class="fa-regular fa-trash-can text-gray-700"></a>
						</div>
					</td>
				<% }) %>
			</tr>
		</tbody>
	</table>
</div>
