<div class="overflow-y-auto border-l border-black text-gray-800 pl-5">
    <table class="table-auto w-full">
        <thead>
            <tr class="border-b border-black">
                <th class="py-3">#</th>
                <th class="py-3">Producto</th>
                <th class="py-3">Categoría</th>
                <th class="py-3">Precio</th>
                <th class="py-3">Desc.</th>
                <th class="py-3">P. Final</th>
                <th class="py-3">Acciones</th>
            </tr>
        </thead>
        <tbody class="text-[16.5px]">
            <% products.forEach((product, index)=> { %>
                <tr class="border-b border-gray-400">
                    <td class="font-bold px-3">
                        <%= index + 1%>
                    </td>
                    <td class="p-1">
                            <a href="/products/detail/<%=product.id%>">
                            <%= product.title %>
                        </a>
                        </td>
                    <td class="p-1">
                        <%= product.category.name %>
                    </td>
                    <td class="p-1">
                        <%= product.price %>
                    </td>
                    <td class="p-1">
                        <%= product.discount%>%
                    </td>
                    <td class="p-1">
                        <%= priceFinal(product.price ,product.discount)%>
                    </td>
                    <td class="p-1">
                        <div class="flex gap-2 items-center">
                            <button type="button" class="fa-regular fa-eye text-gray-700" data-bs-toggle="modal"
                                data-bs-target="#detailProduct<%=product.id%>">
                            </button>
                            <a href="/products/edit/<%= product.id %>"
                                class="fa-regular fa-pen-to-square text-gray-700"></a>
                            <form id="deleteForm<%= product.id %>">
                                <button type="button" class="fa-regular fa-trash-can text-gray-700"
                                    onclick="showDeleteConfirmation('<%= product.title %>', '<%= product.id %>')"></button>
                            </form>
                        </div>
                    </td>

                    <!-- Button trigger modal detail product -->
                    <td>
                        <div class="d-flex gap-1">
                            <div class="modal fade" id="detailProduct<%=product.id%>" tabindex="-1"
                                aria-labelledby="detailProduct<%=product.id%>Label" aria-hidden="true">
                                <div class="modal-dialog modal-lg  modal-dialog-centered">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="detailProduct<%=product.id%>Label">
                                                Detalles del producto
                                            </h5>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                            <div class="card mb-3">
                                                <div class="row g-0">
                                                    <div class="col-12">
                                                        <div class="card-body">
                                                            <div class="row">
                                                                <div class="col-12 col-md-4">
                                                                    <img src="/images/products/<%= product.images[0].image %>"
                                                                        class="img-fluid" alt="">
                                                                </div>
                                                                <div class="col-12 col-md-8">
                                                                    <ul class="list-group list-group-flush">
                                                                        <li class="list-group-item"><b>
                                                                                <%= product.title.toUpperCase() %>
                                                                            </b></li>
                                                                        <li class="list-group-item"><b>Categoría: </b>
                                                                            <%= product.category.name
                                                                                || "Sin clasificar" %>
                                                                        </li>
                                                                        <li class="list-group-item"><b>Precio: $<%=
                                                                                    product.price %>
                                                                        </li>
                                                                        <li class="list-group-item">Descuento:
                                                                            <%= product.discount %>
                                                                        </li>
                                                                        <li class="list-group-item">Precio Final:
                                                                            $<%= priceFinal(product.price
                                                                                ,product.discount)%>
                                                                        </li>
                                                                    </ul>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary"
                                                data-bs-dismiss="modal">Cerrar</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                    </td>

                    <td>
                        <div id="detailProduct<%= product.id %>"
                            class="modal modal-admin fixed w-full h-full flex items-center justify-center hidden">
                            <div class="modal-overlay absolute w-full h-full opacity-0"></div>
                            <div
                                class="modal-container bg-white w-11/12 md:max-w-md mx-auto rounded shadow-lg z-50 overflow-y-auto">
                                <div class="modal-content py-4 text-left px-6">
                                    <div class="modal-header flex justify-between items-center pb-3">
                                        <h5 class="text-2xl font-bold">Detalles del producto</h5>
                                    </div>
                                    <div class="modal-body">
                                        <div class="card mb-3">
                                            <div class="flex flex-wrap -mx-4">
                                                <div class="w-full md:w-1/2 px-4">
                                                    <img src="/images/products/<%= product.images[0].image %>"
                                                        class="w-full h-auto" alt="">
                                                </div>
                                                <div class="w-full md:w-1/2 px-4">
                                                    <ul class="list-group list-group-flush">
                                                        <li class="list-group-item"><b>
                                                                <%= product.title.toUpperCase() %>
                                                            </b></li>
                                                        <li class="list-group-item"><b>Categoría: </b>
                                                            <%= product.category.name || "Sin clasificar" %>
                                                        </li>
                                                        <li class="list-group-item"><b>Precio: </b>
                                                            <%= product.price %>
                                                        </li>
                                                        <li class="list-group-item"><b>Descuento: </b>
                                                            <%= product.discount %>%
                                                        </li>
                                                        <li class="list-group-item"><b>Precio Final: </b>
                                                            <%= priceFinal(product.price, product.discount) %>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="modal-footer flex justify-end pt-2">
                                        <button type="button"
                                            class="modal-close px-4 bg-gray-500 p-3 rounded-lg text-white hover:bg-gray-400"
                                            onclick="closeModal('detailProduct<%= product.id %>')">Cerrar</button>
                                        <button class="modal-close p-2"
                                            onclick="closeModal('detailProduct<%= product.id %>')">
                                            <svg class="fill-current text-black" xmlns="http://www.w3.org/2000/svg"
                                                width="18" height="18" viewBox="0 0 18 18">
                                                <path
                                                    d="M2.83 15.88a1 1 0 0 1 0-1.41L14.34 2.83a1 1 0 1 1 1.41 1.41L4.24 17.29a1 1 0 0 1-1.41 0zM16 15l-4-4m0 0l-4 4"
                                                    fill-rule="evenodd"></path>
                                            </svg>
                                        </button>

                                    </div>
                                </div>
                            </div>
                    </td>
                    <% }) %>
                </tr>
        </tbody>
    </table>

    <!-- paginator -->
    <div class="paginator">
        <nav aria-label="Page navigation example">
            <ul class="flex items-center -space-x-px h-10 text-base">
                <% if (paginate.hasPreviousPages || paginate.hasNextPages(pagesCount)) { %>
                    <% if (paginate.hasPreviousPages) { %>
                        <li>
                            <a href="<%= paginate.href(true).prev %>"
                                class="flex items-center justify-center px-4 h-10 ms-0 leading-tight text-gray-500 bg-white border border-e-0 border-gray-300 rounded-s-lg hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">
                                <span aria-hidden="true">&laquo;</span>
                            </a>
                        </li>
                        <% } %>

                            <% if (pages) { %>
                                <% pages.forEach(page=> { %>
                                    <li>
                                        <a href="<%= page.url %>"
                                            class="flex items-center justify-center px-4 h-10 leading-tight <%= page.number === currentPage ? 'text-blue-600 border border-blue-300 bg-blue-50 hover:bg-blue-100 hover:text-blue-700 dark:border-gray-700 dark:bg-gray-700 dark:text-white' : 'text-gray-500 bg-white border border-gray-300 hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white' %>">
                                            <%= page.number %>
                                        </a>
                                    </li>
                                    <% }) %>
                                        <% } %>

                                            <!-- <% if (paginate.hasNextPages(pagesCount)) { %>
                  <li>
                    <a href="<%= paginate.href().next %>"
                      class="flex items-center justify-center px-4 h-10 leading-tight text-gray-500 bg-white border border-gray-300 rounded-e-lg hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">
                      <span aria-hidden="true">&raquo;</span>
                    </a>
                  </li>
                <% } %> -->
                                            <% } %>
            </ul>
        </nav>
    </div>


    <script>
        function showDeleteConfirmation(productTitle, productId) {
            const swalWithBootstrapButtons = Swal.mixin({
                customClass: {
                    confirmButton: "btn btn-success",
                    cancelButton: "btn btn-danger"
                },
                buttonsStyling: false
            });

            swalWithBootstrapButtons.fire({
                title: "¿Estás seguro?",
                text: `¿Estás seguro de que deseas eliminar el producto "${productTitle}"?`,
                icon: "warning",
                showCancelButton: true,
                confirmButtonText: "Sí, eliminarlo",
                cancelButtonText: "No, cancelar",
                reverseButtons: true
            }).then((result) => {
                if (result.isConfirmed) {
                    fetch(`/products/delete/${productId}?_method=DELETE`, {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json',
                        },
                    })
                        .then(response => response.json())
                        .then(data => {
                            if (data.success) {
                                swalWithBootstrapButtons.fire({
                                    title: "¡Eliminado!",
                                    text: `El producto "${productTitle}" ha sido eliminado.`,
                                    icon: "success"
                                }).then(() => {
                                    window.location.reload(true);
                                });
                            } else {
                                swalWithBootstrapButtons.fire({
                                    title: "Error",
                                    text: "Error al eliminar el producto.",
                                    icon: "error"
                                });
                            }
                        })
                        .catch(error => {
                            console.error(error);
                            swalWithBootstrapButtons.fire({
                                title: "Error",
                                text: "Error al comunicarse con el servidor.",
                                icon: "error"
                            });
                        });
                } else if (result.dismiss === Swal.DismissReason.cancel) {
                    swalWithBootstrapButtons.fire({
                        title: "Cancelado",
                        text: `El producto "${productTitle}" está a salvo 🎄✨`,
                        icon: "error"
                    });
                }
            });
        }
    </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"
        integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+"
        crossorigin="anonymous"></script>
</div>